//- Header.pug

doctype html
html
	br
	br
	br
	center.h3.display-3.formheading=message
	div#header
		nav.nav-pills.nav-fill.justify-content-center.rounded
			ul.nav
				li.nav-item.nav-link.active
					a(href='/')
						|Home 
				li.nav-item.nav-link.active
					a(href='/packages')
						|Packages
				li.nav-item.nav-link.active 
					a(href='/booking')
						|Booking
				li.nav-item.nav-link.active 
					a(href='/media')
						|Media
				li.nav-item.nav-link.active 
					a(href='/contact')
						|Contact Us