extends layout
block content
	.container
			.row
				.col-lg-12.text-center.tab-content
					h3.formHeading= message
					a(href=linked)
						h3 Try Again.
			//h1= message
			//h2= error.status
			//pre #{error.stack}
