#header
	width 50%
	float center
	position absolute
	left 25%
	top 5%

li.nav-item.nav-link.active
	background-color red
	color black

li.nav-item.nav-link.active:hover
	background-color DarkRed

#logo
	text-align center
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
	
#formbtn
	text-align center
	position absolute
	top 85%
	left 50%
	transform translate(-85%, -50%)

#center_content
	text-align center
	align-content center
	
#footer
	text-align center
	background-color navy
	color white
	
.packages
	height 300px
	width 300px
	
.showcaseimages
	height 400px
	width 400px

.description
	font-size 20px
	
.carouselPics
	height 500px

div.carousel-caption.display-4
	border-radius 10px
	height 20%
	float center
	background-color black
	opacity 0.4
	
.menuItem
	border-radius 20px
	background-color blue
	padding 5px
	
#contact_table
	text-align justify